
/* Global variables */
:root {

  /* Phones */
  --max-size-xs: 767px;
  
  /* Tablets */
  --min-size-sm: 786px;
  --max-size-sm: 991px;
  
  /* Small laptops */
  --min-size-md: 992px;
  --max-size-md: 1199px;

  /* Laptops/desktops */
  --min-size-lg: 1200px;
}

body, html {
	margin: 0;
	padding: 0;
	
	font-family: Georgia, serif;
	font-size: 23px;
	line-height: 1.72em;
}


nav {
		height: 4em;
		background: #eee;
		border-bottom: 3px solid #00adefff;
	}


@media (min-width: 992px) {
	p, h1, h2, h2, h4, ul, ol, table, .people, nav-wrapper {
		width: calc(var(--min-size-md) - 2em);
		margin-left: auto;
		margin-right: auto;
	}
	
	body nav ul {
		
		width: calc(var(--min-size-md) - 2em);
		margin-left: auto;
		margin-right: auto;

	}

	img {
		max-width: calc(var(--min-size-md) - 2em);
	}
}

@media (max-width: 991px) {
	/*
	body, html {
		margin: 0;
		padding: 0;
	
		font-family: Georgia, serif;
		font-size: 4vw;
	}
	*/
	p, h1, h2, h3, h4, ul, ol, table, .people {
		margin-left: 1em;
		margin-right: 1em;
	}

	img {
		max-width: 100%;
		padding-left: 1em;
		padding-right: 1em;
	}
	
	body nav ul {
		width: 100%;
	}

}



/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */

.sticky + * {
  padding-top: 165px;
}


.dropdown-menu a {
	font-size: 19px;
}

nav ul {
	font-family: Verdana, sans-serif;
	margin: auto auto auto auto;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: block;
	padding: 0 1em 0 1em;
	background-color: #eee;	
}

nav ul li a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

nav ul li a:hover {
	color: #000;
	text-decoration: none;
}


nav ul li.home a {
	color: #4b4b4b;
}

nav ul li.home a:hover {
	color: #0089CF;
}

.nav-link{
	color: inherit;
}

h1, h2, h2, h4 {
	font-family: Verdana, sans-serif;
	padding: 0.5em;
}

@media (min-width: 768px) { 
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
    background-color: inherit; 
 }
 nav ul {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;

		align-items: end;	

	}
}
@media (max-width: 767px) { 
.dropdown-menu {
    display: block;
    margin-top: auto;
    padding: 0; 
    border: 0px;
  }

  nav ul {

		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;


	}
  .navbar-collapse {

	    background-color: #eee;
		padding: 0 0.5em 0 0.5em ;
    	border-radius: 0.25em;
  }

  .dropdown-menu {
  	background-color: inherit;
  }
}


