<li class="topic">
    
    <h3> {{include.topic.name}}</h3>

    <!-- The supervisor list is populated by the 'redrawTopics() function in theses.js. What is does is look at the projects that are currently not hidden, adds the supervisors of these projects in a set, and adds a <li> elements for each unique supervisor.' -->
    <p>
    {{include.topic.description}}
    </p>
    {% assign artefacts = site.artefact_dir | where:"topic", include.topic.name %}
    <ul class="artefacts">
    {% for artefact in artefacts %}
        <li>
            <h4>
                    {{artefact.title}}       
            </h4>
            {{ artefact.description | truncatewords: 50, '...'}} <span> (<a href="{{ artefact.url }}">continue reading</a>) </span>
            {% if artefact.keywords %}
            <ul class="keywords">
                {% assign keys = artefact.keywords %}
                {% for key in keys %}<li>{{key}}</li>{% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</li>
