<li class="topic">
    
    <h3> {{include.topic.name}}</h3>

    <!-- The supervisor list is populated by the 'redrawTopics() function in theses.js. What is does is look at the projects that are currently not hidden, adds the supervisors of these projects in a set, and adds a <li> elements for each unique supervisor.' -->
    <p>
    {{include.topic.description}}
    </p>
    {% assign artifacts = site.artifact_dir | where:"topic", include.topic.name %}
    <p> {{site.theses}} </p>
    <ul class="artifacts">
    {% for artifact in artifacts %}
        <li>
            <h4>
                    {{artifact.title}}       
            </h4>
            {{ artifact.description | truncatewords: 50, '...'}} <span> (<a href="{{ artifact.url }}">continue reading</a>) </span>
            {% if artifact.keywords %}
            <ul class="keywords">
                {% assign keys = artifact.keywords %}
                {% for key in keys %}<li>{{key}}</li>{% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</li>
