    

    <div class="content banner-container">
    <p>
    <a id="banner" href="/"><img src="../../images/logos/KAI_logo_noborder.png" alt="KAI" style="height:50px; position:relative; top:6px; :hover{background-color: None;}"></a>
  </p>
    </div>
    <nav class="navbar navbar-expand-md navbar-light" id='navbarMain'>
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" style="z-order: inherit"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="mainMenu navbar-nav me-auto mb-0 mb-lg-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/index" id="navbarDropdown" aria-expanded="false">Home</a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/index#">About us</a>
                    <a class="dropdown-item" href="/index#news">News</a>
                    <a class="dropdown-item" href="/index#contact">Contact</a>
                  </div>
                </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/people">People</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="/theses">Theses Topics</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" href="/artefacts">Artefacts</a>
                </li>
              </li>
          </ul>

        </div>
      </div>
    </nav>