		<p>
		<a href="/"><img src="../../images/logos/KAI_logo_noborder.png" alt="KAI" style="height:50px; width: position:relative; top:6px;"/></a>
		</p>
		<nav class="navbar navbar-expand-sm" id='navbarMain'>
			<div class="container-fluid">
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      				<span class="navbar-toggler-icon"></span>
    			</button>
    			<div class="collapse navbar-collapse" id="navbarSupportedContent">
    				<ul class="mainMenu navbar-nav me-auto mb-2 mb-lg-0">
      				  <li class="nav-item dropdown">
          				<a class="nav-link dropdown-toggle" href="index" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
          				  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          					<li>
        				      <a class="dropdown-item" href="/index">About us</a>
        				    </li>
        				    <li>
              <hr class="dropdown-divider">
            </li>
        				    <li>
        				      <a class="dropdown-item" href="/index#news">News</a>
        				    </li>
        				  </ul>
        				</li>
      				  </li>
      				  <li class="nav-item">
        			    <a class="nav-link active" aria-current="page" href="people">People</a>
        			  </li>
        			  <li class="nav-item">
        			    <a class="nav-link" href="projects">Projects</a>
        			  </li>
      				  <li class="nav-item dropdown">
          				<a class="nav-link dropdown-toggle" href="theses" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Theses</a>
          				  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          					<li>
        				      <a class="dropdown-item" href="/theses#KAI-theses">Thesis descriptions</a>
        				    </li>
        				    <li>
        				      <a class="dropdown-item" href="{{site.absolute_url}}/theses#internships">Internships</a>
        				    </li>
        				    <li>
        				      <a class="dropdown-item" href="/supervision_guidelines">Guidelines</a>
        				    </li>
        				  </ul>
        				</li>
      				  </li>
      				</ul>

				</div>
			</div>
		</nav>