<li class="topic">
    <h3> {{include.topic.name}}</h3>
    <p>
    {{include.topic.description}}
    </p>
    {% assign projects = site.theses_demo | where:"topic", include.topic.name%}
    <ul class="projects">
    {% for project in projects %}
        <li>
            <h4>
            {{project.title}}       
            <span class='supervisor'>
                (
                {% if project.degree != '' %}
                    {{project.degree}},  
                {% endif %}    
                {{project.supervisor.name}}
                )
            </span>
            </h4>
            {{ project.description | truncatewords: 40, '...'}} <span> (<a href="{{ project.description_link }}">continue reading</a>) </span>
            {% if project.keywords %}
            <ul class="keywords">
                {% assign keys = project.keywords %}
                {% for key in keys %}<li>{{key}}</li>{% endfor %}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</li>